@using PagedList.Mvc;
@using CPSeed.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<script>
    function basic() {
        var e = document.getElementById("basic");
        var value = e.options[e.selectedIndex].value;
        var booksDiv = $("#product")
        $.ajax({
            url: '/Product/select',
            type: 'GET',
            data: { "value": value },
            dataType: 'html',
            success: function (data) {
                booksDiv.html(data);
            },
            error: function () {
                alert('Có lỗi xảy ra.')
            }
        });
    }
</script>
<!-- Start All Title Box -->
@Html.Action("Banner", "Home", new { image = "3.jpg", title = "Danh mục sản phẩm" })
<!-- End All Title Box -->
<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sort by </span>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD" onchange="basic();">
                                    <option value="3" data-display="Select">Giáo cao → Gía thấp</option>
                                    <option value="2">Giá thấp → Giá cao</option>
                                </select>
                            </div>
                            @{
                                CPSeedContext data = new CPSeedContext();
                                ViewBag.Count = data.Products.Count();
                            }
                            <p> Đã tìm thấy @ViewBag.Count sản phẩm</p>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-categorie-box" id="product">
                        <div class="tab-content">
                            @{Html.RenderAction("GetPaging", "Product", new { page = 1 }); }
                            @{Html.RenderAction("Products2", "Product", new { page = 1 }); }

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form action="#">
                            <input class="form-control" placeholder="Search here..." type="text">
                            <button type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Danh sục sản phẩm</h3>
                        </div>
                        @Html.Action("ProductType", "Product")
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- End Shop Page -->
