@model PagedList.IPagedList<CPSeed.Models.Product>
@using PagedList.Mvc;
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<div role="tabpanel" class="tab-pane fade show active" id="grid-view">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="~/images/Product/@item.image" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="@Url.Action("productDetail", "ProDuct", new { id = item.ProductID})"data-toggle="tooltip" data-placement="right" title="Xem ngay"><i class="fas fa-eye"></i></a></li>                           
                            </ul>
                            <a class="cart">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>@item.ProductName</h4>
                        <h5> @item.SellPrice VNĐ</h5>

                    </div>
                </div>
            </div>
        }
    </div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("GetPaging", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "product" }))
    </div>
</div>

