@model CPSeed.Models.Category

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Thêm Bài Viết</h2>
                        </div>
                    </div>
                    <div style="padding-left:20px" class="row tm-edit-product-row">
                        <div class="form-group mb-3 col-xs-12 col-sm-12">
                            <label for="name">
                               Tiêu đề
                            </label>
                            <input name="TitleCategory"
                                   type="text"
                                   class="form-control validate"
                                   required />
                            @ViewData["Loi2"]
                        </div>
                         <select id="UserId" name="Priority" class="custom-select tm-select-accounts">
                                    <option value="true" selected>Hiển hị</option>
                                    <option value="false">Không hiển thị</option>
                        </select>
                        
                    </div>
                    <div style="padding-top:20px; padding-left:25px" class="col-12">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}