@model CPSeed.Models.ProductType

@{
    ViewBag.Title = "AddProductType";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@using (Html.BeginForm("AddProductType", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Thêm danh mục sản phẩm</h2>
                        </div>
                    </div>
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-8 col-lg-8 col-md-8">
                            <form action="" class="tm-edit-product-form">

                                <div class="form-group mb-3">
                                    <label for="name">
                                        Tên danh mục
                                    </label>
                                    <input placeholder=""
                                           name="ProductTypeName"
                                           type="text"
                                           class="form-control validate"
                                           required />
                                    @ViewData["Loi2"]
                                </div>



                            </form>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <label for="name">
                                Hình ảnh
                            </label>
                            <input type="text" name="picture" id="picture" class="form-control" readonly style="color:black" />
                            <input type="file" accept="image/*" id="fileUpload" name="fileUpload" style="display:none" ; />
                            <input style="padding:10px; margin:10px 0 10px 0"
                                   type="button"
                                   id="btnUpload"
                                   class="btn btn-primary btn-block mx-auto"
                                   value="Chọn hình ảnh cho danh mục" />
                            @ViewData["Loi6"]
                            <img style="margin-left:-5px" id="pictureUpload" class="col-xl-12 col-lg-12 col-md-12" />
                        </div>
                    </div>                    
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase" style="margin-top:20px">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section upload
{
    <script>
        $(function () {
            $('#btnUpload').click(function () {
                $('#fileUpload').trigger('click');
            });
            $('#fileUpload').change(function () {
                if (window.FormData !== undefined) {
                    var fileUpload = $('#fileUpload').get(0);
                    var files = fileUpload.files;
                    var formData = new FormData();
                    formData.append('file', files[0]);
                    $.ajax(
                        {
                            type: 'POST',
                            url: '/Admin/ProcessUpload',
                            contentType: false,
                            processData: false,
                            data: formData,
                            success: function (urlImage) {
                                $('#pictureUpload').attr('src', urlImage);
                                $('#picture').val(urlImage);
                            },
                            error: function (err) {
                                alert('Có lỗi khi upload ' + err.statusText);
                            }
                        });
                }
            });
        });
    </script>
}

