@model IEnumerable<CPSeed.Models.Contact>

@{
    Layout = null;
}


<table class="table table-hover tm-table-small tm-product-table">
    <thead>
        <tr>
            <th scope="col">Tên</th>
            <th scope="col">Thông tin</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td class="tm-product-name">@Html.Raw(item.Title)</td>
            <td class="tm-product-name">@Html.Raw(item.contents)</td>
            <td>
                <a href="@Url.Action("DeleteContact", "Admin" , new { id = item.ContactID})" class="tm-product-delete-link">
                    <img src="~/images/icons/trash.svg" width="15px" />
            </td>
            <td>
                <a href="@Url.Action("EditContact", "Admin" , new { id = item.ContactID })">
                    <img src="~/images/icons/pencil-square.svg" width="15px" />
                </a>
            </td>

        </tr>
    }
</table>