@model CPSeed.Models.ProductType

@{
    ViewBag.Title = "DeleteProductType";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@using (Html.BeginForm("DeleteProductType", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Xóa danh mục sản phẩm</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <form action="" class="tm-edit-product-form">

                            <div class="form-group mb-3">
                                <label for="name">
                                    Tên danh mục
                                </label>
                                <input placeholder=""
                                       name="ProductTypeName"
                                       value="@Model.ProductTypeName"
                                       type="text"
                                       class="form-control validate"
                                       readonly
                                       required />
                                @ViewData["Loi2"]
                            </div>



                        </form>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <label for="name">
                            Hình ảnh
                        </label>
                        <input type="text" value="~/images/producttype/@Model.image" name="picture" id="picture" class="form-control" readonly style="color:black" />
                        
                        <img style="margin-left:-5px" src="@Url.Content("~/images/producttype/" + Model.image)" id="pictureUpload" class="col-xl-12 col-lg-12 col-md-12" />
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase" style="margin-top:20px">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>
}