@model IEnumerable<CPSeed.Models.ProductType>

@{
    Layout = null;
}


    <table class="table table-hover tm-table-small tm-product-table">
        <thead>
            <tr>
                <th scope="col">Tên</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {

            <tr>
                <td class="tm-product-name">@Html.DisplayFor(modelItem => item.ProductTypeName)</td>
                <td>
                    <a href="@Url.Action("DeleteProductType", "Admin" , new { id = item.ProductTypeID })" class="tm-product-delete-link">
                        <img src="~/images/icons/trash.svg" width="15px" />
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("EditProductType", "Admin" , new { id = item.ProductTypeID })">
                        <img src="~/images/icons/pencil-square.svg" width="15px" />
                    </a>
                </td>

            </tr>
        }
    </table>


