

@model IEnumerable<CPSeed.Models.Slide>

@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="row">
                    <h2 class="col-sm-10 col-md-10 col-lg-10 col-xl-10 tm-block-title tm-block-title-win">Quản Lý Slide</h2>
                    <a href="AddSlide" style="margin:10px 0 10px 0" class="col-lg-2 btn btn-primary">THÊM SLIDE</a>
                </div>
                <div style="max-height: 595px;" class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">Hình ảnh</th>
                                <th scope="col">Link</th>
                                <th scope="col">Tình trạng</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><img src="@Url.Content("~/images/banner/" + item.image)" width="400" height="auto" /></td>

                                    <td><p>@Html.Raw(item.url)</p></td>



                                    @if (item.Status == true)
                                    {
                                        <td>Kích hoạt</td>
                                    }
                                    else
                                    {
                                        <td>Không kích hoạt</td>
                                    }
                                    <td>
                                        <a href="@Url.Action("DeleteSlide", "Admin" , new { id = item.SlideID })" class="tm-product-delete-link">
                                            <img src="~/images/icons/trash.svg" width="15px" />
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EditSlide", "Admin" , new { id = item.SlideID })">
                                            <img src="~/images/icons/pencil-square.svg" width="15px" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                
            </div>
        </div>
    </div>
</div>

