@model PagedList.IPagedList<CPSeed.Models.NewDetail>
@using PagedList.Mvc;
@using PagedList;
<style>
    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }

    .MenuTrang li {
        display: inline;
    }
</style>
<div class="container" id="techonogy">
    <div class="row my-4">
        <div class="col-12">
            <h2 class="noo-sh-title">Danh sách tin</h2>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="~/images/@item.image" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3 style="text-align:center">@item.Title</h3>
                            <p>@item.Summary</p>
                        </div>                     
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="MenuTrang" style="text-align:center">
        @Html.PagedListPager(Model, page => Url.Action("AllNews", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "techonogy" }))
    </div>
</div>