@model IEnumerable<CPSeed.Models.NewDetail>
<div class="featured-products-box owl-carousel owl-theme owl-loaded owl-drag" style="color: #005b36">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h2 class="noo-sh-title" style="color: #005b36; border-bottom: 2.5px solid #789A3D">Thư Viện hình ảnh</h2>
                </div>
            </div>
        </div>
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-3093px, 0px, 0px); transition: all 0.25s ease 0s; width: 4500px;">
                @foreach (var item3 in Model)
                {
                    <div class="owl-item">
                        <div class="">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <img src="~/images/@item3.image" class="img-fluid" alt="Image">
                                </div>
                            </div>

                            <div class="blog-content">
                                <div class="wp-content-news">
                                    <a href="" class="content-news-txt" >@item3.Title</a>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


