@model IEnumerable<CPSeed.Models.NewDetail>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all">
                    <h2 class="noo-sh-title" style="color: #005b36; border-bottom: 2.5px solid #789A3D">Tin tức</h2>
                </div>
                <div class="see-all" style="position: absolute; top: 40%; right: 1%; transform: translateY(-50%);">
                    <a href="@Url.Action("NewsDetail","News",new { id=1})" style=" transition: 0.3s; color: #191818; font-size: 20px; transition: all 0.3s;">Xem tất cả &gt</a>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="blog-img">
                        <img class="img-fluid" src="~/images/@item.image" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="wp-content-news" style="margin-top:20px;">
                            <a href="@Url.Action("CT","News",new {id=item.NewDetailID})" class="content-news-txt">@item.Title</a>
                            <div class="wp-btn-detail" style="">
                                <div class="btn-detail">
                                    <a style="">Tin CPSeed</a>
                                </div>
                                <p class="btn-detail-time" style="margin-left:10px">@item.CreateDate</p>
                            </div>
                        </div>

                    </div>
                </div>
            }

        </div>
        <br />
        <br />
    </div>

