@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown" style="position: relative; font-weight: 700; font-size: 16px; color: #000000; text-transform: uppercase; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 30px; ">Tài Khoản</a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("User " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </li>
    }
}
else
{
    <li class="dropdown">
        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Tài Khoản</a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </li>
}
