<br />
<br />
<br />
<div class="row" style="">
    <div class="col-12">
        <div class="list-form-page">
            <div class="form-input-contact">
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-4 mb-md-3 mb-lg-0">
                        <div class="item-input-contact">
                            <input type="text" id="keyword" placeholder="Tiêu đề tìm kiếm...">
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 ">
                        <div class="item-input-contact">
                            <select name="" id="WorkLocation">
                                <option value="0" selected="">Nơi làm việc</option>

                                <option value="186">Trụ sở Tập đoàn</option>

                                <option value="187">CN Hà Nam</option>

                                <option value="203">CN Ba Vì</option>

                                <option value="204">CN Thái Bình</option>

                                <option value="205">CN Thanh Hóa</option>

                                <option value="206">CN Vinh</option>

                                <option value="207">CN Tây Nguyên</option>

                                <option value="208">Khác</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 col-lg-3">
                        <div class="item-input-contact">
                            <select name="" id="Career">
                                <option value="0" selected="">Tất cả</option>

                                <option value="180">Cán bộ quản lý</option>

                                <option value="181">Kinh doanh, Marketing</option>

                                <option value="182">Kế toán, Kiểm toán</option>

                                <option value="183">Nhân sự hành chính</option>

                                <option value="184">Kỹ thuật sản xuất</option>

                                <option value="199">Cơ khí, CBBQ</option>

                                <option value="200">Khác</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <div class="btn-search-tt">
                            <a href="javascript:;" id="search">Tìm kiếm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="list-item-media">
            <div class="row" id="recruitment-list">
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="item-media">
                        <div class="top-bar-item">
                            <p class="number-stt">01</p>
                            <div class="label-category">
                                <p style="">Kế toán, Kiểm toán</p>
                            </div>
                        </div>
                        <h3 class="title-item-media"><a href="">NHÂN VIÊN KẾ TOÁN - CÔNG TY CP GIỐNG CÂY TRỒNG HÀ TÂY</a></h3>
                        <div class="list-content-media">
                            <p class="item-content-media">Số lượng: <span class="color-item-content">01</span></p>
                            <p class="item-content-media">Hạn nộp HS: <span class="color-item-content">30/04/2021</span></p>
                            <p class="item-content-media">Nơi làm việc: <span>Số 2, Ba La, P. Phú Lãm, Hà Đông, Hà Nội</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="item-media">
                        <div class="top-bar-item">
                            <p class="number-stt">02</p>
                            <div class="label-category">
                                <p>Kế toán</p>
                            </div>
                        </div>
                        <h3 class="title-item-media"><a style="color: #005b36;" href="">NHÂN VIÊN KẾ TOÁN - CÔNG TY CP GIỐNG CÂY TRỒNG HÀ TÂY</a></h3>
                        <div class="list-content-media">
                            <p class="item-content-media">Số lượng: <span class="color-item-content">01</span></p>
                            <p class="item-content-media">Hạn nộp HS: <span class="color-item-content">30/04/2021</span></p>
                            <p class="item-content-media">Nơi làm việc: <span>Số 2, Ba La, P. Phú Lãm, Hà Đông, Hà Nội</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="item-media">
                        <div class="top-bar-item">
                            <p class="number-stt">03</p>
                            <div class="label-category">
                                <p>Kế toán, Kiểm toán</p>
                            </div>
                        </div>
                        <h3 class="title-item-media"><a href="/vi/recruitment/m5/detail-16.htm">NHÂN VIÊN KẾ TOÁN - CÔNG TY CP GIỐNG CÂY TRỒNG HÀ TÂY</a></h3>
                        <div class="list-content-media">
                            <p class="item-content-media">Số lượng: <span class="color-item-content">01</span></p>
                            <p class="item-content-media">Hạn nộp HS: <span class="color-item-content">30/04/2021</span></p>
                            <p class="item-content-media">Nơi làm việc: <span>Số 2, Ba La, P. Phú Lãm, Hà Đông, Hà Nội</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="item-media">
                        <div class="top-bar-item">
                            <p class="number-stt">04</p>
                            <div class="label-category">
                                <p style="">Kế toán, Kiểm toán</p>
                            </div>
                        </div>
                        <h3 class="title-item-media"><a href="">NHÂN VIÊN KẾ TOÁN - CÔNG TY CP GIỐNG CÂY TRỒNG HÀ TÂY</a></h3>
                        <div class="list-content-media">
                            <p class="item-content-media">Số lượng: <span class="color-item-content">01</span></p>
                            <p class="item-content-media">Hạn nộp HS: <span class="color-item-content">30/04/2021</span></p>
                            <p class="item-content-media">Nơi làm việc: <span>Số 2, Ba La, P. Phú Lãm, Hà Đông, Hà Nội</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="item-media">
                        <div class="top-bar-item">
                            <p class="number-stt">05</p>
                            <div class="label-category">
                                <p>Kế toán</p>
                            </div>
                        </div>
                        <h3 class="title-item-media"><a style="color: #005b36;" href="">NHÂN VIÊN KẾ TOÁN - CÔNG TY CP GIỐNG CÂY TRỒNG HÀ TÂY</a></h3>
                        <div class="list-content-media">
                            <p class="item-content-media">Số lượng: <span class="color-item-content">01</span></p>
                            <p class="item-content-media">Hạn nộp HS: <span class="color-item-content">30/04/2021</span></p>
                            <p class="item-content-media">Nơi làm việc: <span>Số 2, Ba La, P. Phú Lãm, Hà Đông, Hà Nội</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="item-media">
                        <div class="top-bar-item">
                            <p class="number-stt">06</p>
                            <div class="label-category">
                                <p>Kế toán, Kiểm toán</p>
                            </div>
                        </div>
                        <h3 class="title-item-media"><a href="/vi/recruitment/m5/detail-16.htm">NHÂN VIÊN KẾ TOÁN - CÔNG TY CP GIỐNG CÂY TRỒNG HÀ TÂY</a></h3>
                        <div class="list-content-media">
                            <p class="item-content-media">Số lượng: <span class="color-item-content">01</span></p>
                            <p class="item-content-media">Hạn nộp HS: <span class="color-item-content">30/04/2021</span></p>
                            <p class="item-content-media">Nơi làm việc: <span>Số 2, Ba La, P. Phú Lãm, Hà Đông, Hà Nội</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="item-media">
                        <div class="top-bar-item">
                            <p class="number-stt">07</p>
                            <div class="label-category">
                                <p style="">Kế toán, Kiểm toán</p>
                            </div>
                        </div>
                        <h3 class="title-item-media"><a href="">NHÂN VIÊN KẾ TOÁN - CÔNG TY CP GIỐNG CÂY TRỒNG HÀ TÂY</a></h3>
                        <div class="list-content-media">
                            <p class="item-content-media">Số lượng: <span class="color-item-content">01</span></p>
                            <p class="item-content-media">Hạn nộp HS: <span class="color-item-content">30/04/2021</span></p>
                            <p class="item-content-media">Nơi làm việc: <span>Số 2, Ba La, P. Phú Lãm, Hà Đông, Hà Nội</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="item-media">
                        <div class="top-bar-item">
                            <p class="number-stt">08</p>
                            <div class="label-category">
                                <p>Kế toán</p>
                            </div>
                        </div>
                        <h3 class="title-item-media"><a style="color: #005b36;" href="">NHÂN VIÊN KẾ TOÁN - CÔNG TY CP GIỐNG CÂY TRỒNG HÀ TÂY</a></h3>
                        <div class="list-content-media">
                            <p class="item-content-media">Số lượng: <span class="color-item-content">01</span></p>
                            <p class="item-content-media">Hạn nộp HS: <span class="color-item-content">30/04/2021</span></p>
                            <p class="item-content-media">Nơi làm việc: <span>Số 2, Ba La, P. Phú Lãm, Hà Đông, Hà Nội</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="item-media">
                        <div class="top-bar-item">
                            <p class="number-stt">09</p>
                            <div class="label-category">
                                <p>Kế toán, Kiểm toán</p>
                            </div>
                        </div>
                        <h3 class="title-item-media"><a href="/vi/recruitment/m5/detail-16.htm">NHÂN VIÊN KẾ TOÁN - CÔNG TY CP GIỐNG CÂY TRỒNG HÀ TÂY</a></h3>
                        <div class="list-content-media">
                            <p class="item-content-media">Số lượng: <span class="color-item-content">01</span></p>
                            <p class="item-content-media">Hạn nộp HS: <span class="color-item-content">30/04/2021</span></p>
                            <p class="item-content-media">Nơi làm việc: <span>Số 2, Ba La, P. Phú Lãm, Hà Đông, Hà Nội</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>