@model IEnumerable<CPSeed.Models.NewDetail>

<div class="box-add-products">
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1 style="font-size:40px; margin-right:980px">TIN TỨC</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-lg-4 col-xl-4">
                        <div class="blog-box">
                            <div class="blog-img">
                                <img class="img-fluid" src="~/images/@item.image" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="title-blog">
                                    <h3>@item.Title</h3>
                                    <hr />
                                    <p style="font-size:18px">@item.Summary</p>
                                    <br />
                                    <button type="button" class="btn btn-outline-dark">Xem thêm</button>
                                </div>
                                <div>          
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
