@model IEnumerable<CPSeed.Models.Post>
@{ var link = "/tuyen-dung";}
<li class="dropdown">
    <a href="@Url.Action("Index","Pots")" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Tuyển dụng</a>
    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
            <li><a href="@link">@item.Title</a></li>}
    </ul>
</li>

