@model IEnumerable<CPSeed.Models.ProductType>

<div class="row products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>SẢN PHẨM KINH DOANH</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="" data-filter="*">All</button>
                        <button data-filter=".top-featured" class="">Top featured</button>
                        <button data-filter=".best-seller" class="active">Best seller</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider product-list">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="~/images/@item.image" class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>@item.ProductTypeName</h4>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
