@model IEnumerable<CPSeed.Models.ProductType>

@{ var link = "/danh-muc-san-pham";}
<li class="dropdown">
    <a href="@link" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Danh mục sản phẩm </a>
    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
                var url = "/danh-muc-san-pham/" + item.ProductTypeName + "-" + item.ProductTypeID;
                <li><a href="@url">@item.ProductTypeName</a></li>
        }
    </ul>
</li>
