@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<CPSeed.Models.Post>
<style>
    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }

    .MenuTrang li {
        display: inline;
    }
</style>
<div class="box-add-products" id="techonogy">
    <div class="container">
        <div class="row">
            <div class="about-box-main">
                <div class="container">
                    @foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="banner-frame">
                                    <img class="img-fluid" src="~/images/Post/@item.image" alt="" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h2 class="noo-sh-title-top">@item.Title </h2>
                                <br />
                                <p style="font-size:20px">
                                    @item.contents
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="MenuTrang" style="text-align:center">
        @Html.PagedListPager(Model, page => Url.Action("Technology", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "techonogy" }))
    </div>
</div>
