@model IEnumerable<CPSeed.Models.Post>
<div class="container vision-container my-4">
    <div class="row d-flex justify-content-center">
        <div>
            <h1 style="font-size:32px" class="noo-sh-title-top">@ViewBag.Message.Title</h1>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <img src="~/images/@item.image" alt="">
                    <h3>@item.Title</h3>
                    <p>@item.Summary </p>
                </div>
            </div>
        }
    </div>
</div>