@model IEnumerable<CPSeed.Models.Post>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1 style="font-size:40px" class="noo-sh-title-top">@ViewBag.Message.Title</h1>
        </div>
    </div>
    <div class="row my-5">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <img src="~/images/@item.image" alt="">
                    <h3>@item.Title</h3>
                    <p>@item.Summary </p>
                </div>
            </div>

        }
    </div>
</div>