@model IEnumerable<CPSeed.Models.Post>
<br />
<br />
<div class="box-add-products mission">
    <div class="container">
        <div>
            <h1 style="font-size:40px;color: #ffffff;width: fit-content" class="noo-sh-title-top" data-aos="zoom-in" data-aos-duration="1000">@Resource.Visionmission</h1>
        </div>
        <br />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-lg-4" data-aos="fade-up" data-aos-duration="1000">
                    <div class="mission-content">
                        <img src="~/images/Post/@item.image" alt="">
                        <h3 style="font-size: 21px;">@item.Title</h3>
                        <p style="font-size:20px">@item.Summary </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
